<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>达达商城::找回密码</title>
	<style>
		html,body,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,input,select,table,tr,td,th{
			margin: 0;
			padding: 0;
		}
		body{
			font-size:16px;
			line-height: 1.8em;
			font-family: 'Microsoft Yahei';
		}
		ul,ol{
			list-style: none;
		}
		table{
			border-collapse: collapse;
			border-spacing: 0;
		}
		#container{
			width:96%;
			margin:15px auto;
		}
		#slogan{
			font-size:24px;
			color: #900;
		}
	</style>
</head>
<body>
	<div id="container">
		<h1 id="slogan">亲爱的用户{{ email }},您好:</h1>
		<p>本次验证为:{{ number }}</p>
		<p>有效期为10分钟</p>
		<p>&nbsp;</p>	
		<p>如果这不是您的邮件，请忽略</p>
	</div>
</body>
</html>
